<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>H-Town Trends</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row m-3">
            <div class="col-md-12 jumbotron text-center">
                <h1><strong>H-Town MSA Statistics API</strong></h1>
            </div>
            <div class="col-md-3">
                <h2>Available Endpoints</h2>
                <a class="btn btn-primary btn-md" type="submit" href="/api/v1.0/houston_statistics">Houston MSA Statistics</a>
                <p>/api/v1.0/houston_statistics</p>
                <a class="btn btn-primary btn-md" type="submit" href="/api/v1.0/houston_population">Houston MSA Population</a>
                <p>/api/v1.0/houston_population</p>
                <a class="btn btn-primary btn-md" type="submit" href="/api/v1.0/houston_non-farm_employees">Houston MSA Non-farm Employees</a>
                <p>/api/v1.0/houston_non-farm_employees</p>
                <a class="btn btn-primary btn-md" type="submit" href="/api/v1.0/houston_energy_extraction_employees">Houston MSA Energy Extraction Employees</a>
                <p>/api/v1.0/houston_energy_extraction_employees</p>
                <a class="btn btn-primary btn-md" type="submit" href="/api/v1.0/houston_housing_index">Houston MSA Housing Price Index</a>
                <p>/api/v1.0/houston_housing_index</p>
                <a class="btn btn-primary btn-md" type="submit" href="/api/v1.0/WTI_oil_price">WTI Oil Price</a>
                <p>/api/v1.0/WTI Oil Price</p>
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-8">
                <div>
                    <table class="table table-striped table-responsive">
                        <thead>
                          <tr style="text-align: right;">
                            <th>Year</th>
                            <th>Houston NonFarm Employees</th>
                            <th>Houston Energy Employees</th>
                            <th>Housing Price Index</th>
                            <th>Oil Price USD</th>
                            <th>Houston Area Population</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th>2000</th>
                            <td>2282241</td>
                            <td>36100</td>
                            <td>129.8775</td>
                            <td>30.38</td>
                            <td>4739414</td>
                          </tr>
                          <tr>
                            <th>2001</th>
                            <td>2320933</td>
                            <td>36700</td>
                            <td>138.6600</td>
                            <td>25.98</td>
                            <td>4851189</td>
                          </tr>
                          <tr>
                            <th>2002</th>
                            <td>2315558</td>
                            <td>37800</td>
                            <td>144.4475</td>
                            <td>26.19</td>
                            <td>4978638</td>
                          </tr>
                          <tr>
                            <th>2003</th>
                            <td>2301391</td>
                            <td>38700</td>
                            <td>149.9450</td>
                            <td>31.08</td>
                            <td>5084017</td>
                          </tr>
                          <tr>
                            <th>2004</th>
                            <td>2318408</td>
                            <td>38700</td>
                            <td>155.6150</td>
                            <td>41.51</td>
                            <td>5190444</td>
                          </tr>
                          <tr>
                            <th>2005</th>
                            <td>2384825</td>
                            <td>39100</td>
                            <td>162.8250</td>
                            <td>56.64</td>
                            <td>5299566</td>
                          </tr>
                          <tr>
                            <th>2006</th>
                            <td>2483716</td>
                            <td>40600</td>
                            <td>172.2150</td>
                            <td>66.05</td>
                            <td>5484883</td>
                          </tr>
                          <tr>
                            <th>2007</th>
                            <td>2586266</td>
                            <td>43400</td>
                            <td>180.2425</td>
                            <td>72.34</td>
                            <td>5597674</td>
                          </tr>
                          <tr>
                            <th>2008</th>
                            <td>2642166</td>
                            <td>45300</td>
                            <td>185.1900</td>
                            <td>99.67</td>
                            <td>5726705</td>
                          </tr>
                          <tr>
                            <th>2009</th>
                            <td>2570975</td>
                            <td>45900</td>
                            <td>186.4075</td>
                            <td>61.95</td>
                            <td>5867489</td>
                          </tr>
                          <tr>
                            <th>2010</th>
                            <td>2567125</td>
                            <td>46700</td>
                            <td>184.3325</td>
                            <td>79.48</td>
                            <td>5947409</td>
                          </tr>
                          <tr>
                            <th>2011</th>
                            <td>2634858</td>
                            <td>49500</td>
                            <td>181.7400</td>
                            <td>94.88</td>
                            <td>6056366</td>
                          </tr>
                          <tr>
                            <th>2012</th>
                            <td>2738266</td>
                            <td>53100</td>
                            <td>186.9650</td>
                            <td>94.05</td>
                            <td>6184861</td>
                          </tr>
                          <tr>
                            <th>2013</th>
                            <td>2840291</td>
                            <td>56800</td>
                            <td>198.2825</td>
                            <td>97.98</td>
                            <td>6330656</td>
                          </tr>
                          <tr>
                            <th>2014</th>
                            <td>2939174</td>
                            <td>56000</td>
                            <td>219.5925</td>
                            <td>93.17</td>
                            <td>6503618</td>
                          </tr>
                          <tr>
                            <th>2015</th>
                            <td>2992341</td>
                            <td>51500</td>
                            <td>237.4350</td>
                            <td>48.72</td>
                            <td>6676565</td>
                          </tr>
                          <tr>
                            <th>2016</th>
                            <td>2992150</td>
                            <td>42600</td>
                            <td>247.7825</td>
                            <td>43.58</td>
                            <td>6812260</td>
                          </tr>
                          <tr>
                            <th>2017</th>
                            <td>3019816</td>
                            <td>37700</td>
                            <td>260.2750</td>
                            <td>50.84</td>
                            <td>6905695</td>
                          </tr>
                          <tr>
                            <th>2018</th>
                            <td>3083399</td>
                            <td>36700</td>
                            <td>275.3225</td>
                            <td>64.90</td>
                            <td>6997384</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>